# Efficient `pandas`

In [1]:
%pylab inline
plt.style.use("bmh")

Populating the interactive namespace from numpy and matplotlib

In [2]:
import numpy as np
import pandas as pd

In [3]:
import string

# Data

In [4]:
df = pd.DataFrame(np.arange(2000).reshape((1000,2)),
                  columns=['a', 'b'],
                  index=np.random.choice(list(string.ascii_lowercase), 1000, replace=True))

In [5]:
df.head()

   a  b
w  0  1
e  2  3
k  4  5
l  6  7
d  8  9

# Loops

## Naive

In [6]:
def iterate_df(df):
    """Iterate over df in Python loop."""

    result = []
    
    for i in range(df.shape[0]):
        row = df.iloc[i]
        result.append(row['a']/row['b'])
    return pd.Series(result, name="div_result", index=df.index)

In [7]:
%timeit -n 10 -r 5 iterate_df(df)

126 ms ± 12.2 ms per loop (mean ± std. dev. of 5 runs, 10 loops each)

## Using `iterrows`

In [8]:
def iterate_df_rows(df):
    """Iterate over df in Python loop."""

    result = []
    
    for ri, row in df.iterrows():
        result.append(row['a']/row['b'])
    return pd.Series(result, name="AgeGroup", index=df.index)

In [9]:
%timeit -n 20 -r 5 iterate_df_rows(df)

88.9 ms ± 5.42 ms per loop (mean ± std. dev. of 5 runs, 20 loops each)

## Using `apply`

In [10]:
%timeit -n 20 -r 5 df.apply(lambda x: x['a']/x['b'], axis=1)
#This is significantly faster than the above two options

15.6 ms ± 1.27 ms per loop (mean ± std. dev. of 5 runs, 20 loops each)

## Using vectorization

In [13]:
%timeit -n 20 -r 5 df['a']/df['b']
#This is almost 100 times faster

264 µs ± 108 µs per loop (mean ± std. dev. of 5 runs, 20 loops each)

In [12]:
df['a']/df['b']

w    0.000000
e    0.666667
k    0.800000
l    0.857143
d    0.888889
       ...
j    0.999498
i    0.999498
t    0.999499
q    0.999499
o    0.999500
Length: 1000, dtype: float64

In [53]:
%timeit -n 20 -r 5 df['a'].values/df['b'].values
#And this was almost instant, utilizing numpy-> In numpy, a and b are both in the same array, if they are the same dtype.
#If they weren't the same dtype, it may return the same speed as the pandas vectorization.

The slowest run took 7.53 times longer than the fastest. This could mean that an intermediate result is being cached.
29 µs ± 25.3 µs per loop (mean ± std. dev. of 5 runs, 20 loops each)

In [18]:
df['a'].values/df['b'].values

array([0.        , 0.66666667, 0.8       , 0.85714286, 0.88888889,
       0.90909091, 0.92307692, 0.93333333, 0.94117647, 0.94736842,
       0.95238095, 0.95652174, 0.96      , 0.96296296, 0.96551724,
       0.96774194, 0.96969697, 0.97142857, 0.97297297, 0.97435897,
       0.97560976, 0.97674419, 0.97777778, 0.9787234 , 0.97959184,
       0.98039216, 0.98113208, 0.98181818, 0.98245614, 0.98305085,
       0.98360656, 0.98412698, 0.98461538, 0.98507463, 0.98550725,
       0.98591549, 0.98630137, 0.98666667, 0.98701299, 0.98734177,
       0.98765432, 0.98795181, 0.98823529, 0.98850575, 0.98876404,
       0.98901099, 0.98924731, 0.98947368, 0.98969072, 0.98989899,
       0.99009901, 0.99029126, 0.99047619, 0.99065421, 0.99082569,
       0.99099099, 0.99115044, 0.99130435, 0.99145299, 0.99159664,
       0.99173554, 0.99186992, 0.992     , 0.99212598, 0.99224806,
       0.99236641, 0.9924812 , 0.99259259, 0.99270073, 0.99280576,
       0.9929078 , 0.99300699, 0.99310345, 0.99319728, 0.99328859,
       0.99337748, 0.99346405, 0.99354839, 0.99363057, 0.99371069,
       0.99378882, 0.99386503, 0.99393939, 0.99401198, 0.99408284,
       0.99415205, 0.99421965, 0.99428571, 0.99435028, 0.99441341,
       0.99447514, 0.99453552, 0.99459459, 0.99465241, 0.99470899,
       0.9947644 , 0.99481865, 0.99487179, 0.99492386, 0.99497487,
       0.99502488, 0.99507389, 0.99512195, 0.99516908, 0.99521531,
       0.99526066, 0.99530516, 0.99534884, 0.99539171, 0.99543379,
       0.99547511, 0.9955157 , 0.99555556, 0.99559471, 0.99563319,
       0.995671  , 0.99570815, 0.99574468, 0.99578059, 0.9958159 ,
       0.99585062, 0.99588477, 0.99591837, 0.99595142, 0.99598394,
       0.99601594, 0.99604743, 0.99607843, 0.99610895, 0.996139  ,
       0.99616858, 0.99619772, 0.99622642, 0.99625468, 0.99628253,
       0.99630996, 0.996337  , 0.99636364, 0.99638989, 0.99641577,
       0.99644128, 0.99646643, 0.99649123, 0.99651568, 0.99653979,
       0.99656357, 0.99658703, 0.99661017, 0.996633  , 0.99665552,
       0.99667774, 0.99669967, 0.99672131, 0.99674267, 0.99676375,
       0.99678457, 0.99680511, 0.9968254 , 0.99684543, 0.9968652 ,
       0.99688474, 0.99690402, 0.99692308, 0.9969419 , 0.99696049,
       0.99697885, 0.996997  , 0.99701493, 0.99703264, 0.99705015,
       0.99706745, 0.99708455, 0.99710145, 0.99711816, 0.99713467,
       0.997151  , 0.99716714, 0.9971831 , 0.99719888, 0.99721448,
       0.99722992, 0.99724518, 0.99726027, 0.9972752 , 0.99728997,
       0.99730458, 0.99731903, 0.99733333, 0.99734748, 0.99736148,
       0.99737533, 0.99738903, 0.9974026 , 0.99741602, 0.99742931,
       0.99744246, 0.99745547, 0.99746835, 0.99748111, 0.99749373,
       0.99750623, 0.99751861, 0.99753086, 0.997543  , 0.99755501,
       0.99756691, 0.99757869, 0.99759036, 0.99760192, 0.99761337,
       0.9976247 , 0.99763593, 0.99764706, 0.99765808, 0.997669  ,
       0.99767981, 0.99769053, 0.99770115, 0.99771167, 0.9977221 ,
       0.99773243, 0.99774266, 0.99775281, 0.99776286, 0.99777283,
       0.99778271, 0.99779249, 0.9978022 , 0.99781182, 0.99782135,
       0.9978308 , 0.99784017, 0.99784946, 0.99785867, 0.9978678 ,
       0.99787686, 0.99788584, 0.99789474, 0.99790356, 0.99791232,
       0.997921  , 0.99792961, 0.99793814, 0.99794661, 0.99795501,
       0.99796334, 0.9979716 , 0.9979798 , 0.99798793, 0.99799599,
       0.99800399, 0.99801193, 0.9980198 , 0.99802761, 0.99803536,
       0.99804305, 0.99805068, 0.99805825, 0.99806576, 0.99807322,
       0.99808061, 0.99808795, 0.99809524, 0.99810247, 0.99810964,
       0.99811676, 0.99812383, 0.99813084, 0.9981378 , 0.99814471,
       0.99815157, 0.99815838, 0.99816514, 0.99817185, 0.99817851,
       0.99818512, 0.99819168, 0.9981982 , 0.99820467, 0.99821109,
       0.99821747, 0.9982238 , 0.99823009, 0.99823633, 0.99824253,
       0.99824869, 0.9982548 , 0.99826087, 0.9982669 , 0.99827288,
       0.99827883, 0.99828473, 0.9982906 , 0.99829642, 0.99830221,
       0.99830795, 0.99831366, 0.99831933, 0.99832496, 0.99833055,
       0.99833611, 0.99834163, 0.99834711, 0.99835255, 0.99835796,
       0.99836334, 0.99836868, 0.99837398, 0.99837925, 0.99838449,
       0.99838969, 0.99839486, 0.9984    , 0.9984051 , 0.99841017,
       0.99841521, 0.99842022, 0.9984252 , 0.99843014, 0.99843505,
       0.99843994, 0.99844479, 0.99844961, 0.9984544 , 0.99845917,
       0.9984639 , 0.99846861, 0.99847328, 0.99847793, 0.99848255,
       0.99848714, 0.9984917 , 0.99849624, 0.99850075, 0.99850523,
       0.99850969, 0.99851412, 0.99851852, 0.9985229 , 0.99852725,
       0.99853157, 0.99853587, 0.99854015, 0.9985444 , 0.99854862,
       0.99855282, 0.998557  , 0.99856115, 0.99856528, 0.99856938,
       0.99857347, 0.99857752, 0.99858156, 0.99858557, 0.99858956,
       0.99859353, 0.99859748, 0.9986014 , 0.9986053 , 0.99860918,
       0.99861304, 0.99861687, 0.99862069, 0.99862448, 0.99862826,
       0.99863201, 0.99863574, 0.99863946, 0.99864315, 0.99864682,
       0.99865047, 0.9986541 , 0.99865772, 0.99866131, 0.99866489,
       0.99866844, 0.99867198, 0.9986755 , 0.998679  , 0.99868248,
       0.99868594, 0.99868938, 0.99869281, 0.99869622, 0.99869961,
       0.99870298, 0.99870634, 0.99870968, 0.998713  , 0.9987163 ,
       0.99871959, 0.99872286, 0.99872611, 0.99872935, 0.99873257,
       0.99873578, 0.99873897, 0.99874214, 0.99874529, 0.99874844,
       0.99875156, 0.99875467, 0.99875776, 0.99876084, 0.99876391,
       0.99876695, 0.99876999, 0.99877301, 0.99877601, 0.998779  ,
       0.99878197, 0.99878493, 0.99878788, 0.99879081, 0.99879373,
       0.99879663, 0.99879952, 0.9988024 , 0.99880526, 0.9988081 ,
       0.99881094, 0.99881376, 0.99881657, 0.99881936, 0.99882214,
       0.99882491, 0.99882767, 0.99883041, 0.99883314, 0.99883586,
       0.99883856, 0.99884125, 0.99884393, 0.9988466 , 0.99884925,
       0.99885189, 0.99885452, 0.99885714, 0.99885975, 0.99886234,
       0.99886493, 0.9988675 , 0.99887006, 0.9988726 , 0.99887514,
       0.99887767, 0.99888018, 0.99888268, 0.99888517, 0.99888765,
       0.99889012, 0.99889258, 0.99889503, 0.99889746, 0.99889989,
       0.99890231, 0.99890471, 0.9989071 , 0.99890949, 0.99891186,
       0.99891422, 0.99891658, 0.99891892, 0.99892125, 0.99892357,
       0.99892589, 0.99892819, 0.99893048, 0.99893276, 0.99893504,
       0.9989373 , 0.99893955, 0.9989418 , 0.99894403, 0.99894626,
       0.99894848, 0.99895068, 0.99895288, 0.99895507, 0.99895725,
       0.99895942, 0.99896158, 0.99896373, 0.99896587, 0.99896801,
       0.99897013, 0.99897225, 0.99897436, 0.99897646, 0.99897855,
       0.99898063, 0.99898271, 0.99898477, 0.99898683, 0.99898888,
       0.99899092, 0.99899295, 0.99899497, 0.99899699, 0.998999  ,
       0.999001  , 0.99900299, 0.99900498, 0.99900695, 0.99900892,
       0.99901088, 0.99901283, 0.99901478, 0.99901672, 0.99901865,
       0.99902057, 0.99902248, 0.99902439, 0.99902629, 0.99902818,
       0.99903007, 0.99903195, 0.99903382, 0.99903568, 0.99903754,
       0.99903939, 0.99904123, 0.99904306, 0.99904489, 0.99904671,
       0.99904853, 0.99905033, 0.99905213, 0.99905393, 0.99905571,
       0.99905749, 0.99905927, 0.99906103, 0.99906279, 0.99906455,
       0.99906629, 0.99906803, 0.99906977, 0.99907149, 0.99907322,
       0.99907493, 0.99907664, 0.99907834, 0.99908004, 0.99908173,
       0.99908341, 0.99908509, 0.99908676, 0.99908842, 0.99909008,
       0.99909173, 0.99909338, 0.99909502, 0.99909666, 0.99909829,
       0.99909991, 0.99910153, 0.99910314, 0.99910474, 0.99910634,
       0.99910794, 0.99910953, 0.99911111, 0.99911269, 0.99911426,
       0.99911583, 0.99911739, 0.99911894, 0.99912049, 0.99912204,
       0.99912358, 0.99912511, 0.99912664, 0.99912816, 0.99912968,
       0.99913119, 0.9991327 , 0.9991342 , 0.9991357 , 0.99913719,
       0.99913867, 0.99914015, 0.99914163, 0.9991431 , 0.99914457,
       0.99914603, 0.99914749, 0.99914894, 0.99915038, 0.99915182,
       0.99915326, 0.99915469, 0.99915612, 0.99915754, 0.99915896,
       0.99916037, 0.99916178, 0.99916318, 0.99916458, 0.99916597,
       0.99916736, 0.99916874, 0.99917012, 0.9991715 , 0.99917287,
       0.99917424, 0.9991756 , 0.99917695, 0.99917831, 0.99917966,
       0.999181  , 0.99918234, 0.99918367, 0.999185  , 0.99918633,
       0.99918765, 0.99918897, 0.99919028, 0.99919159, 0.9991929 ,
       0.9991942 , 0.99919549, 0.99919679, 0.99919808, 0.99919936,
       0.99920064, 0.99920192, 0.99920319, 0.99920446, 0.99920572,
       0.99920698, 0.99920823, 0.99920949, 0.99921073, 0.99921198,
       0.99921322, 0.99921445, 0.99921569, 0.99921691, 0.99921814,
       0.99921936, 0.99922058, 0.99922179, 0.999223  , 0.9992242 ,
       0.99922541, 0.9992266 , 0.9992278 , 0.99922899, 0.99923018,
       0.99923136, 0.99923254, 0.99923372, 0.99923489, 0.99923606,
       0.99923722, 0.99923839, 0.99923954, 0.9992407 , 0.99924185,
       0.999243  , 0.99924414, 0.99924528, 0.99924642, 0.99924755,
       0.99924869, 0.99924981, 0.99925094, 0.99925206, 0.99925317,
       0.99925429, 0.9992554 , 0.99925651, 0.99925761, 0.99925871,
       0.99925981, 0.9992609 , 0.99926199, 0.99926308, 0.99926416,
       0.99926525, 0.99926632, 0.9992674 , 0.99926847, 0.99926954,
       0.99927061, 0.99927167, 0.99927273, 0.99927378, 0.99927484,
       0.99927589, 0.99927693, 0.99927798, 0.99927902, 0.99928006,
       0.99928109, 0.99928212, 0.99928315, 0.99928418, 0.9992852 ,
       0.99928622, 0.99928724, 0.99928826, 0.99928927, 0.99929028,
       0.99929128, 0.99929229, 0.99929329, 0.99929428, 0.99929528,
       0.99929627, 0.99929726, 0.99929825, 0.99929923, 0.99930021,
       0.99930119, 0.99930216, 0.99930314, 0.99930411, 0.99930507,
       0.99930604, 0.999307  , 0.99930796, 0.99930891, 0.99930987,
       0.99931082, 0.99931177, 0.99931271, 0.99931366, 0.9993146 ,
       0.99931554, 0.99931647, 0.99931741, 0.99931834, 0.99931926,
       0.99932019, 0.99932111, 0.99932203, 0.99932295, 0.99932387,
       0.99932478, 0.99932569, 0.9993266 , 0.99932751, 0.99932841,
       0.99932931, 0.99933021, 0.9993311 , 0.999332  , 0.99933289,
       0.99933378, 0.99933466, 0.99933555, 0.99933643, 0.99933731,
       0.99933819, 0.99933906, 0.99933993, 0.9993408 , 0.99934167,
       0.99934254, 0.9993434 , 0.99934426, 0.99934512, 0.99934598,
       0.99934683, 0.99934768, 0.99934853, 0.99934938, 0.99935023,
       0.99935107, 0.99935191, 0.99935275, 0.99935359, 0.99935442,
       0.99935525, 0.99935608, 0.99935691, 0.99935774, 0.99935856,
       0.99935939, 0.9993602 , 0.99936102, 0.99936184, 0.99936265,
       0.99936346, 0.99936427, 0.99936508, 0.99936588, 0.99936669,
       0.99936749, 0.99936829, 0.99936909, 0.99936988, 0.99937067,
       0.99937146, 0.99937225, 0.99937304, 0.99937383, 0.99937461,
       0.99937539, 0.99937617, 0.99937695, 0.99937772, 0.9993785 ,
       0.99937927, 0.99938004, 0.9993808 , 0.99938157, 0.99938233,
       0.9993831 , 0.99938386, 0.99938462, 0.99938537, 0.99938613,
       0.99938688, 0.99938763, 0.99938838, 0.99938913, 0.99938987,
       0.99939062, 0.99939136, 0.9993921 , 0.99939284, 0.99939357,
       0.99939431, 0.99939504, 0.99939577, 0.9993965 , 0.99939723,
       0.99939795, 0.99939868, 0.9993994 , 0.99940012, 0.99940084,
       0.99940156, 0.99940227, 0.99940299, 0.9994037 , 0.99940441,
       0.99940512, 0.99940582, 0.99940653, 0.99940723, 0.99940793,
       0.99940863, 0.99940933, 0.99941003, 0.99941072, 0.99941142,
       0.99941211, 0.9994128 , 0.99941349, 0.99941418, 0.99941486,
       0.99941555, 0.99941623, 0.99941691, 0.99941759, 0.99941827,
       0.99941894, 0.99941962, 0.99942029, 0.99942096, 0.99942163,
       0.9994223 , 0.99942297, 0.99942363, 0.99942429, 0.99942496,
       0.99942562, 0.99942628, 0.99942693, 0.99942759, 0.99942824,
       0.9994289 , 0.99942955, 0.9994302 , 0.99943085, 0.9994315 ,
       0.99943214, 0.99943279, 0.99943343, 0.99943407, 0.99943471,
       0.99943535, 0.99943598, 0.99943662, 0.99943725, 0.99943789,
       0.99943852, 0.99943915, 0.99943978, 0.9994404 , 0.99944103,
       0.99944165, 0.99944228, 0.9994429 , 0.99944352, 0.99944414,
       0.99944475, 0.99944537, 0.99944598, 0.9994466 , 0.99944721,
       0.99944782, 0.99944843, 0.99944904, 0.99944964, 0.99945025,
       0.99945085, 0.99945145, 0.99945205, 0.99945265, 0.99945325,
       0.99945385, 0.99945445, 0.99945504, 0.99945563, 0.99945623,
       0.99945682, 0.99945741, 0.99945799, 0.99945858, 0.99945917,
       0.99945975, 0.99946033, 0.99946092, 0.9994615 , 0.99946208,
       0.99946265, 0.99946323, 0.99946381, 0.99946438, 0.99946495,
       0.99946553, 0.9994661 , 0.99946667, 0.99946723, 0.9994678 ,
       0.99946837, 0.99946893, 0.9994695 , 0.99947006, 0.99947062,
       0.99947118, 0.99947174, 0.9994723 , 0.99947285, 0.99947341,
       0.99947396, 0.99947451, 0.99947507, 0.99947562, 0.99947617,
       0.99947671, 0.99947726, 0.99947781, 0.99947835, 0.9994789 ,
       0.99947944, 0.99947998, 0.99948052, 0.99948106, 0.9994816 ,
       0.99948213, 0.99948267, 0.9994832 , 0.99948374, 0.99948427,
       0.9994848 , 0.99948533, 0.99948586, 0.99948639, 0.99948692,
       0.99948744, 0.99948797, 0.99948849, 0.99948901, 0.99948954,
       0.99949006, 0.99949058, 0.99949109, 0.99949161, 0.99949213,
       0.99949264, 0.99949316, 0.99949367, 0.99949418, 0.99949469,
       0.9994952 , 0.99949571, 0.99949622, 0.99949673, 0.99949723,
       0.99949774, 0.99949824, 0.99949875, 0.99949925, 0.99949975])

Moral of the story-- Never use loops.

# Memory

In [54]:
titanic_train = pd.read_csv("train.csv", index_col="PassengerId")
titanic_test = pd.read_csv("test.csv", index_col="PassengerId")
titanic = pd.concat([titanic_train, titanic_test], sort=False)

titanic.head(5)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [55]:
titanic.dtypes #Alof of inneficiency comes from the data types used to store our data. For example, no reason Pclass neads to be an int64

Survived    float64
Pclass        int64
Name         object
Sex          object
Age         float64
SibSp         int64
Parch         int64
Ticket       object
Fare        float64
Cabin        object
Embarked     object
dtype: object

In [56]:
titanic.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 1 to 1309
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    float64
 1   Pclass    1309 non-null   int64
 2   Name      1309 non-null   object
 3   Sex       1309 non-null   object
 4   Age       1046 non-null   float64
 5   SibSp     1309 non-null   int64
 6   Parch     1309 non-null   int64
 7   Ticket    1309 non-null   object
 8   Fare      1308 non-null   float64
 9   Cabin     295 non-null    object
 10  Embarked  1307 non-null   object
dtypes: float64(3), int64(3), object(5)
memory usage: 462.8 KB

Our memory is small, but so is our data. With larger data sets, we may need to cut down this memory usage

In [57]:
titanic["Pclass"] = pd.to_numeric(titanic["Pclass"], downcast="unsigned") #Downcast as much as possible, and make it unsigned (never going to be negative)

In [58]:
titanic.dtypes

Survived    float64
Pclass        uint8
Name         object
Sex          object
Age         float64
SibSp         int64
Parch         int64
Ticket       object
Fare        float64
Cabin        object
Embarked     object
dtype: object

In [59]:
titanic.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 1 to 1309
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    float64
 1   Pclass    1309 non-null   uint8
 2   Name      1309 non-null   object
 3   Sex       1309 non-null   object
 4   Age       1046 non-null   float64
 5   SibSp     1309 non-null   int64
 6   Parch     1309 non-null   int64
 7   Ticket    1309 non-null   object
 8   Fare      1308 non-null   float64
 9   Cabin     295 non-null    object
 10  Embarked  1307 non-null   object
dtypes: float64(3), int64(2), object(5), uint8(1)
memory usage: 453.9 KB

Didn't make such a big dent in our memory

In [60]:
titanic["SibSp"] = pd.to_numeric(titanic["SibSp"], downcast="unsigned")
titanic["Parch"] = pd.to_numeric(titanic["Parch"], downcast="unsigned")

In [61]:
titanic.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 1 to 1309
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    float64
 1   Pclass    1309 non-null   uint8
 2   Name      1309 non-null   object
 3   Sex       1309 non-null   object
 4   Age       1046 non-null   float64
 5   SibSp     1309 non-null   uint8
 6   Parch     1309 non-null   uint8
 7   Ticket    1309 non-null   object
 8   Fare      1308 non-null   float64
 9   Cabin     295 non-null    object
 10  Embarked  1307 non-null   object
dtypes: float64(3), object(5), uint8(3)
memory usage: 436.0 KB

## How to read it with correct `dtype`s right away?

In [62]:
titanic_train_trunc = pd.read_csv("train.csv", index_col="PassengerId",
                                  dtype={"Pclass":np.uint8,
                                         "SibSp":np.uint8,
                                         "Parch":np.uint8,
                                         "Survived":np.float32,
                                         "Age":np.float32,
                                         "Fare":np.float32},
                                  converters={"Sex": lambda x: (np.uint8(1)
                                                                if x=="female" else np.uint8(0)),
                                              "Embarked": lambda x: 0 if x=="S" else (1 if x=="C" else 2)})
titanic_test_trunc = pd.read_csv("test.csv", index_col="PassengerId",
                                 dtype={"Pclass":np.uint8,
                                        "SibSp":np.uint8,
                                        "Parch":np.uint8,
                                        "Survived":np.float32,
                                        "Age":np.float32,
                                        "Fare":np.float32},
                                 converters={"Sex": lambda x: np.uint8(1) if x=="female" else np.uint8(0),
                                             "Embarked": lambda x: 0 if x=="S" else (1 if x=="C" else 2)})
titanic_trunc = pd.concat([titanic_train_trunc, titanic_test_trunc], sort=False)

titanic_trunc.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 1 to 1309
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    float32
 1   Pclass    1309 non-null   uint8
 2   Name      1309 non-null   object
 3   Sex       1309 non-null   int64
 4   Age       1046 non-null   float32
 5   SibSp     1309 non-null   uint8
 6   Parch     1309 non-null   uint8
 7   Ticket    1309 non-null   object
 8   Fare      1308 non-null   float32
 9   Cabin     295 non-null    object
 10  Embarked  1309 non-null   int64
dtypes: float32(3), int64(2), object(3), uint8(3)
memory usage: 288.1 KB

THe memory is almost half the size that it was before

In [63]:
titanic_trunc.select_dtypes(np.uint8).head()

             Pclass  SibSp  Parch
PassengerId
1                 3      1      0
2                 1      1      0
3                 3      0      0
4                 1      1      0
5                 3      0      0

In [64]:
titanic_trunc

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0.0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.250000,NaN,0
2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.283302,C85,1
3,1.0,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.925000,NaN,0
4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.099998,C123,0
5,0.0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.050000,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...
1305,NaN,3,"Spector, Mr. Woolf",0,NaN,0,0,A.5. 3236,8.050000,NaN,0
1306,NaN,1,"Oliva y Ocana, Dona. Fermina",1,39.0,0,0,PC 17758,108.900002,C105,1
1307,NaN,3,"Saether, Mr. Simon Sivertsen",0,38.5,0,0,SOTON/O.Q. 3101262,7.250000,NaN,0
1308,NaN,3,"Ware, Mr. Frederick",0,NaN,0,0,359309,8.050000,NaN,0
1309,NaN,3,"Peter, Master. Michael J",0,NaN,1,1,2668,22.358299,NaN,1