### IMPORTANT NOTES: 1) Data types were changed in Excel. Make sure the conditions written here match the new data types. 2) Make sure to change index to False in the output line, as to not include the index as a column in the final answer.

In [40]:
import pandas as pd
df = pd.read_csv(r"C:\Users\sfrie\Ydata_practice\Test_2\schools.csv")
df.head()

,School Index,District,Lowest Year,Highest Year,School Income Estimate,Average Proficiency Score,Student Attendance Rate,Students Chronically Absent,Rigorous Instruction,Year 3 - All Students Tested,Year 4 - All Students Tested,Year 5 - All Students Tested,Year 6 - All Students Tested,Year 3 - Top Scoring,Year 4 - Top Scoring,Year 5 - Top Scoring,Year 6 - Top Scoring,Student Achievement Rating
0,310001,5,6,8,NaN,0.65,0.94,0.19,0.97,0.0,0.0,0.0,104.0,0.0,0.0,0.0,8.0,Exceeding Target
1,310002,2,PK,5,"$26,114.78",0.69,0.98,0.06,0.93,125.0,106.0,104.0,0.0,8.0,13.0,11.0,0.0,Meeting Target
2,310003,2,PK,5,"$103,399.19",0.77,0.95,0.13,0.97,105.0,142.0,61.0,0.0,9.0,44.0,18.0,0.0,Meeting Target
3,310004,6,PK,5,"$34,684.21",0.56,0.92,0.33,0.91,103.0,100.0,81.0,0.0,3.0,7.0,1.0,0.0,Approaching Target
4,310005,6,0K,5,"$29,783.60",0.53,0.93,0.26,0.89,90.0,90.0,69.0,0.0,0.0,7.0,1.0,0.0,Approaching Target

In [41]:
df = df[df['Student Attendance Rate'] > 0]
df = df[df['Rigorous Instruction'] > 0]
df = df[df['Students Chronically Absent'] < 1]
df = df[(df['Student Achievement Rating'].notnull()) & (df['Average Proficiency Score'].notnull())]

,School Index,District,Lowest Year,Highest Year,School Income Estimate,Average Proficiency Score,Student Attendance Rate,Students Chronically Absent,Rigorous Instruction,Year 3 - All Students Tested,Year 4 - All Students Tested,Year 5 - All Students Tested,Year 6 - All Students Tested,Year 3 - Top Scoring,Year 4 - Top Scoring,Year 5 - Top Scoring,Year 6 - Top Scoring,Student Achievement Rating
0,310001,5,6,8,NaN,0.65,0.94,0.19,0.97,0.0,0.0,0.0,104.0,0.0,0.0,0.0,8.0,Exceeding Target
1,310002,2,PK,5,"$26,114.78",0.69,0.98,0.06,0.93,125.0,106.0,104.0,0.0,8.0,13.0,11.0,0.0,Meeting Target
2,310003,2,PK,5,"$103,399.19",0.77,0.95,0.13,0.97,105.0,142.0,61.0,0.0,9.0,44.0,18.0,0.0,Meeting Target
3,310004,6,PK,5,"$34,684.21",0.56,0.92,0.33,0.91,103.0,100.0,81.0,0.0,3.0,7.0,1.0,0.0,Approaching Target
4,310005,6,0K,5,"$29,783.60",0.53,0.93,0.26,0.89,90.0,90.0,69.0,0.0,0.0,7.0,1.0,0.0,Approaching Target
5,310006,2,0K,5,"$144,270.13",0.85,0.96,0.05,0.87,125.0,117.0,109.0,0.0,45.0,53.0,52.0,0.0,Exceeding Target
6,310007,4,PK,8,"$24,553.59",0.61,0.90,0.34,0.90,27.0,34.0,25.0,44.0,0.0,2.0,2.0,2.0,Exceeding Target
7,310008,6,0K,5,"$33,529.45",0.56,0.93,0.20,0.91,88.0,91.0,60.0,0.0,0.0,2.0,1.0,0.0,Meeting Target
8,310009,3,PK,5,"$95,312.63",0.85,0.96,0.06,1.00,97.0,74.0,102.0,0.0,27.0,40.0,36.0,0.0,Exceeding Target
9,310010,2,PK,6,"$32,817.79",0.65,0.95,0.18,0.89,50.0,61.0,71.0,16.0,7.0,13.0,6.0,7.0,Exceeding Target
10,310011,2,PK,5,"$98,455.77",0.78,0.96,0.10,0.93,179.0,145.0,122.0,0.0,39.0,60.0,28.0,0.0,Meeting Target
12,310013,6,0K,12,NaN,0.64,0.96,0.08,0.91,92.0,92.0,97.0,90.0,8.0,20.0,7.0,7.0,Exceeding Target
13,310014,4,0K,8,"$48,431.58",0.91,0.97,0.05,0.92,57.0,61.0,94.0,56.0,37.0,41.0,54.0,35.0,Exceeding Target
15,310016,1,PK,5,"$31,141.72",0.54,0.94,0.18,0.89,20.0,15.0,16.0,0.0,0.0,0.0,0.0,0.0,Approaching Target
17,310018,6,0K,8,"$44,006.21",0.53,0.93,0.23,0.92,37.0,37.0,31.0,49.0,2.0,2.0,1.0,0.0,Meeting Target

In [42]:
def convert(n):
    if n == 'Not Meeting Target':
        return 0.0
    elif n == 'Approaching Target':
        return 0.5
    elif n == "Meeting Target":
        return 0.8
    else:
        return 1.0
df['Student Achievement Rating'] = df['Student Achievement Rating'].apply(convert)
df

,School Index,District,Lowest Year,Highest Year,School Income Estimate,Average Proficiency Score,Student Attendance Rate,Students Chronically Absent,Rigorous Instruction,Year 3 - All Students Tested,Year 4 - All Students Tested,Year 5 - All Students Tested,Year 6 - All Students Tested,Year 3 - Top Scoring,Year 4 - Top Scoring,Year 5 - Top Scoring,Year 6 - Top Scoring,Student Achievement Rating
0,310001,5,6,8,NaN,0.65,0.94,0.19,0.97,0.0,0.0,0.0,104.0,0.0,0.0,0.0,8.0,1.0
1,310002,2,PK,5,"$26,114.78",0.69,0.98,0.06,0.93,125.0,106.0,104.0,0.0,8.0,13.0,11.0,0.0,0.8
2,310003,2,PK,5,"$103,399.19",0.77,0.95,0.13,0.97,105.0,142.0,61.0,0.0,9.0,44.0,18.0,0.0,0.8
3,310004,6,PK,5,"$34,684.21",0.56,0.92,0.33,0.91,103.0,100.0,81.0,0.0,3.0,7.0,1.0,0.0,0.5
4,310005,6,0K,5,"$29,783.60",0.53,0.93,0.26,0.89,90.0,90.0,69.0,0.0,0.0,7.0,1.0,0.0,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1242,353080,31,0K,12,"$67,750.03",0.71,0.95,0.10,0.93,85.0,96.0,106.0,101.0,12.0,10.0,9.0,16.0,0.8
1243,353861,31,PK,8,"$67,543.01",0.70,0.94,0.17,0.94,100.0,99.0,66.0,100.0,24.0,17.0,15.0,14.0,1.0
1244,353959,31,6,12,NaN,0.60,0.94,0.15,0.88,0.0,0.0,0.0,129.0,0.0,0.0,0.0,10.0,0.8
1245,353964,31,0K,8,"$48,091.89",0.59,0.95,0.14,0.89,42.0,36.0,54.0,0.0,4.0,5.0,2.0,0.0,0.5
1246,353984,31,6,8,NaN,0.61,0.95,0.14,0.91,0.0,0.0,0.0,130.0,0.0,0.0,0.0,9.0,1.0

In [45]:
df.to_csv(r"C:\Users\sfrie\Ydata_practice\Test_2\output.csv", index = False)