In [65]:
import pandas as pd
import numpy as np
df = pd.read_csv(r"C:\Users\sfrie\Ydata_practice\Test_2\output.csv")
df.head(3)

,School Index,District,Lowest Year,Highest Year,School Income Estimate,Average Proficiency Score,Student Attendance Rate,Students Chronically Absent,Rigorous Instruction,Year 3 - All Students Tested,Year 4 - All Students Tested,Year 5 - All Students Tested,Year 6 - All Students Tested,Year 3 - Top Scoring,Year 4 - Top Scoring,Year 5 - Top Scoring,Year 6 - Top Scoring,Student Achievement Rating
0,310001,5,6,8,NaN,0.65,0.94,0.19,0.97,0.0,0.0,0.0,104.0,0.0,0.0,0.0,8.0,1.0
1,310002,2,PK,5,"$26,114.78",0.69,0.98,0.06,0.93,125.0,106.0,104.0,0.0,8.0,13.0,11.0,0.0,0.8
2,310003,2,PK,5,"$103,399.19",0.77,0.95,0.13,0.97,105.0,142.0,61.0,0.0,9.0,44.0,18.0,0.0,0.8

In [86]:
ratio3 = df['Year 3 - Top Scoring']/ df['Year 3 - All Students Tested']
ratio4 = df['Year 4 - Top Scoring'] / df['Year 4 - All Students Tested']
ratio5 = df['Year 5 - Top Scoring'] / df['Year 5 - All Students Tested']
ratio6 = df['Year 6 - Top Scoring'] / df['Year 6 - All Students Tested']

df2 = pd.concat([ratio3, ratio4, ratio5, ratio6], axis =1).set_index(df['School Index'])
df2.columns = ['3', '4', '5', '6']

df2.loc[310292]

3   NaN
4   NaN
5   NaN
6   NaN
Name: 310292, dtype: float64

In [92]:
n = int(open(r"C:\Users\sfrie\Ydata_practice\f2_input.txt").read())
n = 310292
highest = df2.loc[n].max()

for x in df2.loc[n]:
    if x == highest:
        print(df2.loc[n].idxmax(axis=1))
        break
else:
    print(0)

0

In [73]:
df2.loc[310133]

3    inf
4    inf
5    inf
6    NaN
Name: 310133, dtype: float64