In [4]:
import pandas as pd
import numpy as np
os.chdir(r"C:\Users\sfrie\Ydata_practice\Test_2")

In [5]:
df= pd.read_csv('F1_schools_done.csv')

 #[int(x.strip('%')) for x in df['Average Proficiency Score']]
df['Average Proficiency Score'] = df['Average Proficiency Score'].str.replace('%', '').apply(pd.to_numeric)
df['Average Proficiency Score']
input = open('f3_input.txt').read().split()
input = list(map(int, input))

In [6]:
df = df[(df['District'] == input[0]) & (df['Average Proficiency Score'] >= input[1]) & (df['Average Proficiency Score'] <= input[2])]
df.head()

Empty DataFrame
Columns: [School Index, District, Lowest Year, Highest Year, School Income Estimate, Average Proficiency Score, Student Attendance Rate, Students Chronically Absent, Rigorous Instruction, Year 3 - All Students Tested, Year 4 - All Students Tested, Year 5 - All Students Tested, Year 6 - All Students Tested, Year 3 - Top Scoring, Year 4 - Top Scoring, Year 5 - Top Scoring, Year 6 - Top Scoring, Student Achievement Rating]
Index: []

In [7]:
if np.isnan(round(df['Student Achievement Rating'].mean(), 2)):
    print(0)
else:
    print(round(df['Student Achievement Rating'].mean(), 2))

0

dtype('int64')

In [8]:
df

Empty DataFrame
Columns: [School Index, District, Lowest Year, Highest Year, School Income Estimate, Average Proficiency Score, Student Attendance Rate, Students Chronically Absent, Rigorous Instruction, Year 3 - All Students Tested, Year 4 - All Students Tested, Year 5 - All Students Tested, Year 6 - All Students Tested, Year 3 - Top Scoring, Year 4 - Top Scoring, Year 5 - Top Scoring, Year 6 - Top Scoring, Student Achievement Rating]
Index: []