In [13]:
import pandas as pd
import numpy as np

df = pd.read_csv('schools (1).csv')
df= df[df['Student Attendance Rate'].str.rstrip('%').astype('int')/100 > 0]
df = df[df['Rigorous Instruction'].str.rstrip('%').astype('int')/100 > 0]
df = df[df['Students Chronically Absent'].str.rstrip('%').astype('int')/100 < 1]

df = df.dropna(subset = ['Student Achievement Rating' , 'Average Proficiency Score'])

def change(n):
    if n == 'Exceeding Target': return 1.0
    if n == 'Meeting Target': return 0.8
    if n == 'Approaching Target': return 0.5
    if n == 'Not Meeting Target': return 0.0
df['Student Achievement Rating'] = df['Student Achievement Rating'].apply(change)

# df.loc[df['Student Achievement Rating'] == 'Exceeding Target', ['Student Achievement Rating']] = 1
# df.loc[df['Student Achievement Rating'] == 'Meeting Target', ['Student Achievement Rating']] = 0.8
# df.loc[df['Student Achievement Rating'] == 'Approaching Target', ['Student Achievement Rating']] = 0.5
# df.loc[df['Student Achievement Rating'] == 'Not Meeting Target', ['Student Achievement Rating']] = 0.0

result = df.to_csv('result.csv', index = False)
df

,School Index,District,Lowest Year,Highest Year,School Income Estimate,Average Proficiency Score,Student Attendance Rate,Students Chronically Absent,Rigorous Instruction,Year 3 - All Students Tested,Year 4 - All Students Tested,Year 5 - All Students Tested,Year 6 - All Students Tested,Year 3 - Top Scoring,Year 4 - Top Scoring,Year 5 - Top Scoring,Year 6 - Top Scoring,Student Achievement Rating
0,310001,5,6,8,NaN,65%,94%,19%,97%,0,0,0,104,0,0,0,8,1.0
1,310002,2,PK,5,"$26,114.78",69%,98%,6%,93%,125,106,104,0,8,13,11,0,0.8
2,310003,2,PK,5,"$103,399.19",77%,95%,13%,97%,105,142,61,0,9,44,18,0,0.8
3,310004,6,PK,5,"$34,684.21",56%,92%,33%,91%,103,100,81,0,3,7,1,0,0.5
4,310005,6,0K,5,"$29,783.60",53%,93%,26%,89%,90,90,69,0,0,7,1,0,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1242,353080,31,0K,12,"$67,750.03",71%,95%,10%,93%,85,96,106,101,12,10,9,16,0.8
1243,353861,31,PK,8,"$67,543.01",70%,94%,17%,94%,100,99,66,100,24,17,15,14,1.0
1244,353959,31,6,12,NaN,60%,94%,15%,88%,0,0,0,129,0,0,0,10,0.8
1245,353964,31,0K,8,"$48,091.89",59%,95%,14%,89%,42,36,54,0,4,5,2,0,0.5
1246,353984,31,6,8,NaN,61%,95%,14%,91%,0,0,0,130,0,0,0,9,1.0

In [12]:
df= df[df['Student Attendance Rate'].str.strip('%').astype('int')/100 >= 0]
df = df[df['Rigorous Instruction'].str.strip('%').astype('int')/100 >= 0]
df = df[df['Students Chronically Absent'].str.strip('%').astype('int')/100 < 1]

df.head()

,School Index,District,Lowest Year,Highest Year,School Income Estimate,Average Proficiency Score,Student Attendance Rate,Students Chronically Absent,Rigorous Instruction,Year 3 - All Students Tested,Year 4 - All Students Tested,Year 5 - All Students Tested,Year 6 - All Students Tested,Year 3 - Top Scoring,Year 4 - Top Scoring,Year 5 - Top Scoring,Year 6 - Top Scoring,Student Achievement Rating
0,310001,5,6,8,NaN,65%,94%,19%,97%,0,0,0,104,0,0,0,8,1.0
1,310002,2,PK,5,"$26,114.78",69%,98%,6%,93%,125,106,104,0,8,13,11,0,0.8
2,310003,2,PK,5,"$103,399.19",77%,95%,13%,97%,105,142,61,0,9,44,18,0,0.8
3,310004,6,PK,5,"$34,684.21",56%,92%,33%,91%,103,100,81,0,3,7,1,0,0.5
4,310005,6,0K,5,"$29,783.60",53%,93%,26%,89%,90,90,69,0,0,7,1,0,0.5